*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  @media screen and (max-widht: 1000px) {
      font-size: 14px;
  }
}