$font-size-st-pc: 16px;
$font-size-btn-pc: 14px;
$font-size-caption-pc: 12px;
$font-color: #1b224c;
$bkg-color-blk: #1b224c;
$font-color-btn: #ffffff;
$btn-doc-request: #f5a623;
$btn-contact: #1b224c;
$menu-back-color: #ffffff;
$bread-bkg-color: #f8f8f8;
$btn-radius: 6px;
$header-height: 80px;
$header-height-sp: 60px;
$section-padding: 64px 0 54px 0;
$sub-color: #1B224C;
$breakpoint: 767px;